@{
    ViewData["Title"] = "Inicio";
}

<div class="container-fluid text-sm-center p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-2">University</h1>
</div>
<div class="row mt-5">
    <div class="col-md-4">
        <h2>Bienvenido a University</h2>
        <p>
            Universidad es una aplicación de muestra que demuestra cómo utilizar Entity Framework Core en un Aplicación web ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Constrúyelo desde cero</h2>
        <p>Puede crear la aplicación siguiendo los pasos de una serie de tutoriales.</p>
        <p><a class="btn btn-default" href="https://learn.microsoft.com/es-es/aspnet/core/data/ef-mvc/intro?view=aspnetcore-8.0">Mira el tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Descargar</h2>
        <p>Puedes Descargar el poryecto completo de GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>